h1 {
    color: blue;
    background-color: yellow;
}
h3{
    padding: 20px;
    background-color: rgb(54, 53, 53);
    color: white;
    text-align : center;
    margin-top: 30px;
    margin-bottom: 30px;
}